# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

#رمزنگاری
# Key files
*.key
*.gpg
*.p12
*.pfx

# Environment Variables
.env*.local
.env

# TypeScript
*.tsbuildinfo
next-env.d.ts

# ESLint
.eslintcache

# SWC
_swc_

# IDE specific
.idea/
.vscode/
*.swp
*~
